<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    
  <httpHandlers>
      <add verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </httpHandlers></system.web>
  
<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <httpErrors existingResponse="PassThrough" />
    <handlers>
      <add name="Nancy" verb="*" type="Nancy.Hosting.Aspnet.NancyHttpRequestHandler" path="*" />
    </handlers>
  </system.webServer>
  
  <appSettings>
    <add key="HW_DBServers" value="localhost"/>
    <add key="HW_DBPORT" value="27017"/>
    <add key="HW_DBNAME" value="db_name"/>
    <add key="HW_DBUSER" value="db_user_name"/>
    <add key="HW_DBPASSWORD" value="db_user_password"/>

    <add key="SystemUrl" value="http://dev.hydrantwiki.com"/>
    
    <add key="S3Bucket_Images" value="images.hydrantwiki.com" />
    <add key="S3MediaRootFolder" value="media" />
    <add key="S3Bucket_Originals" value="originals_bucket" />

    <add key="NoImageURL" value="http://images.hydrantwiki.com/web/NoImage.png" />

    <add key="MapBoxKey" value="mapbox_map_key"/>
    <add key="MapBoxMap" value="mapbox_map_name" />
    <add key="MapBoxHydrantMap" value="mapbox_hydrant_heatmap_name" />
    <add key="GoogleMapsKey" value="google_mapapi_key"/>
  </appSettings>
</configuration>