<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AWSSDK" version="2.3.52.0" targetFramework="net40" />
  <package id="mongocsharpdriver" version="1.10.1" targetFramework="net40" />
  <package id="Nancy" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Authentication.Forms" version="0.23.2" targetFramework="net40" />
  <package id="Nancy.Hosting.Aspnet" version="0.23.2" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net40" />
  <package id="TreeGeckoLibraries.AWS" version="1.0.28.0" targetFramework="net40" />
  <package id="TreeGeckoLibraries.Common" version="1.0.28.0" targetFramework="net40" />
  <package id="TreeGeckoLibraries.Geospatial" version="1.0.28.0" targetFramework="net40" />
  <package id="TreeGeckoLibraries.Mongo" version="1.0.28.0" targetFramework="net40" />
  <package id="TreeGeckoLibraries.Net" version="1.0.28.0" targetFramework="net40" />
</packages>